<% provide(:title, 'Home') %>
<div class="center jumbotron">
	<h1>Warehouse App</h1>
	<h4>
		This is the homepage for the warehouse app, from here you can create new products and decide what warehouse they will be sent to.
	</h4>
		<%= link_to "Sign up now to create a product!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>