<h4>
  <%= link_to warehouse.name, warehouse %>
  <% if current_user.try(:admin?) %>
    | <%= link_to "Delete", warehouse, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</h4>