<footer class="footer">
  <small>
    The Warehouse App
    by <a href="www.liamsykes.co.uk">Liam Sykes</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Products",   products_path %></li>
      <li><%= link_to "Warehouses", warehouses_path %></li>
    </ul>
  </nav>
</footer>